<!-- Breadcrumb -->
@if (last !== 'view') {
  <div class="breadcrumb-bar breadcrumb-bar-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="breadcrumb-list">
            
            <nav aria-label="breadcrumb" class="page-breadcrumb">
              <ol class="breadcrumb">
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
}
<!-- /Breadcrumb -->
<router-outlet></router-outlet>

